
body{
	background-color: #fff;
	margin: 0px;
	font-family:'Lato', sans-serif;
	min-height: 100%;
	display: flex;
  	flex-direction: column;
}

/*header*/
header{
	padding: 0.5% 0% 0.5% 3%;
	padding-bottom: 0px;
	margin-bottom: 25px;
	background-color: #FFC691;
	border-bottom: 3px solid #FFB067;
}
h1{
	font-size: 65px;
	color: #3DCCE0;
	font-family: 'Fugaz One', cursive;
	padding-bottom: 0px;
	display: inline-block;
}

h3{
	font-family: 'Fugaz One', cursive;
	font-size: 27px;
	color: #FFB067;
}

#tagline{
	display: inline-block;
	color: #ffa267;
}

#searchForm{
	padding-bottom: 0px;
}

#searchInput{
	color: #1AB6CC;
	margin-right: 15px;
}


/*main*/

/*here for sticy footer*/
.flexContain{
	flex: 1;
}

main{
	min-height: 100%;
}

/*for the h2 elements*/
.centered{
	text-align: center;
}

/*left aside*/

/*small screen hack*/
#marginBottom{
	margin-bottom: 35px; 
}

#navArea{
	background-color: #8EE8F5;
	border: 3px solid #3DCCE0;
}

#buttonHeader{
	padding: 0% 3%;
}

form{
	padding: 3%;
	margin: 1% 0%;
}

input{
	padding: 1%;
	margin: 1% 0%;
}

#buttonsArea{
	padding: 1%;
}

button{
	padding: 0px 20px;
	margin: 8px 10px;
}

.blueBtn{
	color: #1AB6CC;
	border: 1px solid #3DCCE0;
	background: #fff;
	font-size: 16px;
}

.blueBtn:hover{
	background: #FDFFC7;
	border: 1px solid #FBFF91;
	color: #1AB6CC;
	font-size: 16px;

}

.blueBtn:focus{
	color: #1AB6CC;
	border: 2px solid #3DCCE0;
	font-weight: bold;
	background: #fff;
}

#buttonInput{
	color: #1AB6CC;
}


/*media query focused on removing button on smaller size window*/
@media only screen and (max-width: 768px) {
    main{
    	margin-left: 40px;
    	margin-right: 40px;
    }

    aside{
    	display: none;
    }
}


/*right section*/

/*gif and ratings container*/
.item{
	display: inline-block;
	margin: 15px;
}

/*h2 text above gif*/
h2{
	font-family: 'Fugaz One', cursive;
	font-size: 50px;
	padding: 0% 3%;
	color: #FFB067;
}

#gifHolder{
	min-height: 233px;
	background-color: #8EE8F5;;
	border: 3px solid #3DCCE0;
	padding: 0px 25px;
}

#gifArea{
	padding: 0px  15px 30px 15px;
	height: 100%;
}

#gifArea p{
	color: #fff;
	font-size: 16px;
}



/*footer*/
#flexFoot {
	display: flex;
}
footer{
	margin-top: 30px;
	font-size: 12px;
	text-align: center;
	align-self: flex-end;
	color: #3DCCE0;
}